@font-face {
  font-family: Objective;
  src: url('ObjectiveSans/ObjectSans-Heavy.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: Objective;
  src: url('ObjectiveSans/ObjectSans-Regular.otf') format('opentype');
  font-weight: normal;
}
