@font-face {
  font-family: FuturaPT;
  src: url(futuraPT/futuraPT-Bold-800.ttf);
  font-weight: bold;
}

@font-face {
  font-family: FuturaPT;
  src: url(futuraPT/futuraPT-Heavy_700.ttf);
  font-weight: 700;
}

@font-face {
  font-family: FuturaPT;
  src: url(futuraPT/futuraPT-demi.ttf);
  font-weight: 600;
}

@font-face {
  font-family: FuturaPT;
  src: url(futuraPT/futuraPT-medium_500.ttf);
  font-weight: 500;
}

@font-face {
  font-family: FuturaPT;
  src: url(futuraPT/futuraPT-book.ttf);
  font-weight: 400;
}

@font-face {
  font-family: FuturaPT;
  src: url(futuraPT/futuraPT-Light_300.ttf);
  font-weight: normal;
}
