@import './large-view.scss';

// @import './didactGothic.scss';
// @import './openSans.scss';
// @import './objective.scss';
// @import './futura.scss';
@import './montserrat.scss';

@import './colors.scss';
@import './slide.scss';
@import './gallery.scss';
@import './sections.scss';

span.highlight {
  font-weight: 800;
  // color: $dark_purple;
  // color: $saturated_yellow;
}


html, body {
  margin: 0px;
  padding: 0px;

  // font-family: DidactGothic;
  // font-family: FuturaPT;
  // font-family: Objective;
  font-family: Montserrat;
  // font-family: OpenSans;

  // 0.125em == 2px
  font-size: 16px;
  // background-color: $light_green;
  // background-color: rgba(225, 255, 118, 0.3); // $colder_yellow;
  // $colder_yellow: rgba(225, 255, 118, 1);
  background-color: $whitish;
  color: black; // $dark_purple;
  // color: $dark_green;
  font-weight: 300;
}

h1 {
  font-weight: 800;
}

h1, h2 {
  // font-weight: 800;
}

// p, span {
//   font-weight: 300;
// }

.large-view_wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.large-view_wrap.noned {
  display: none;
}

.large-view_wrap .icon#cross {
  position: absolute;
  right: 0px;
  top: 0px;

  margin: 50px;
}



.icon svg {
  width: 64px;
  height: 64px;
}

.icon svg path {
  fill:none;
  stroke:#00d264;
  stroke-width:1.05833328;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0.57438013;
}


@import './out.scss';


@import './contact.scss';
@import './staff.scss';

// #staff .member h2, #staff .member span {
//
// }

.clearleft {
  clear: left;
}

// #in .showcase:nth-child(1)  { // .image-thumb
//   background-image: url('22219946_1606186132776568_2916948056513412695_o.jpg');
// }



@media (max-width: 850px) {







  // #about .content h1 {
  //   margin: auto 15px;
  // }
}

@media (max-width: 650px) {
  body {
    // overflow-x: hidden;
    overflow-wrap: break-word;
    // word-wrap: break-word;
    // word-break: break-all;
  }
}

@media (max-width: 650px) and (min-height: 650px) {

}
