.navigation {
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  // height: 64px;

  background-color: white;
}

.header_wrap {
  // margin: 0px 100px;
}

.header_container {
  margin: 15px 15px 15px 0px;
  // float: right;
}

.logo {
  display: inline-block;
  background-image: url("media/leo logo - transparent.png");
  background-size: cover;
  background-position: center;

  width: 175px;
  height: 64px;

  transition: width 0.5s, height 0.5s;
}

.logo.larger {
  width: 250px;
  height: 96px;
}

.header_container .lang-switch {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

  line-height: 64px;
  text-align: center;

  transition: width 0.5s, height 0.5s, line-height 0.5s;
  // transition: width 0.5s, height 0.5s;
}

.header_container .lang-switch.larger {
  // width: 250px;
  height: 96px;
  line-height: 96px;
}

.header_container .clearleft {
  display: none;
}

.header_container .lang-switch_inner-wrap {
  position: absolute;
  width: 64px;
  height: 100%;

  transition: height 0.5s;
}

// .logo .lang-switch_inner-wrap.larger {
//   line-height: 96px;
// }

.header_container .lang-switch span#en,
.header_container .lang-switch span#ua {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;

  font-size: 1.250rem;
  font-weight: 400;
}

.header_container .lang-switch #en.noned,
.header_container .lang-switch #ua.noned {
  display: none;
}

.header_container svg {
  width: 64px;
  height: 64px;
  margin: 0px 1px;
}

.header_container svg path {
  display: inline;
  opacity: 1;
  fill: $light_green;
  // fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 5.29166651;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.header_container svg rect {
  display: inline;
  opacity: 1;
  fill: $dark_green;
  // fill: #000000;
  // fill-opacity: 0.94098361;
  stroke: none;
  stroke-width: 5.29166651;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}


@media (max-width: 1300px) {
}

@media (max-width: 850px) {
  .header_wrap {
    display: flex;
  }

  .header_container {
    // width: 350px;
    margin: 5px auto;
  }

  // .header_container {
  //   display: inline-block;
  // }

  // .logo {
  //   float: left;
  //   display: block;
  // }
  //
  // .lang-switch {
  //   float: left;
  //   display: block;
  // }
  //
  // .header_container .clearleft {
  //   display: block;
  // }
}

@media (max-width: 650px) {
  // .header_container {
  //   width: 250px;
  //   margin: 5px auto;
  // }

}
