.navigation {
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  // height: 64px;

  background-color: white;
}

.logo_wrap {
  margin: 0px 100px;
}

.logo {
  margin: 15px 15px 15px 0px;
  // float: right;
}

.logo-itself {
  display: inline-block;
  background-image: url("media/leo logo - transparent.png");
  background-size: cover;
  background-position: center;

  width: 175px;
  height: 64px;

  transition: width 0.5s, height 0.5s;
}

.logo-itself.logo-itself_larger {
  width: 250px;
  height: 96px;
}

.logo .lang-switch {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

  line-height: 64px;
  text-align: center;

  transition: width 0.5s, height 0.5s, line-height 0.5s;
  // transition: width 0.5s, height 0.5s;
}

.logo .lang-switch.lang-switch_larger {
  // width: 250px;
  height: 96px;
  line-height: 96px;
}

.logo .lang-switch_inner-wrap {
  position: absolute;
  width: 64px;
  height: 100%;

  transition: height 0.5s;
}

// .logo .lang-switch_inner-wrap.larger {
//   line-height: 96px;
// }

.logo .lang-switch span#en,
.logo .lang-switch span#ua {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;

  font-size: 1.250rem;
  font-weight: 400;
}

.logo .lang-switch #en.noned,
.logo .lang-switch #ua.noned {
  display: none;
}

.logo svg {
  width: 64px;
  height: 64px;
  margin: 0px 1px;
}

.logo svg path {
  display: inline;
  opacity: 1;
  fill: $light_green;
  // fill: #ffffff;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 5.29166651;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.logo svg rect {
  display: inline;
  opacity: 1;
  fill: $dark_green;
  // fill: #000000;
  // fill-opacity: 0.94098361;
  stroke: none;
  stroke-width: 5.29166651;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}
