@font-face {
  font-family: OpenSans;
  src: url(Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url(Open_Sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

// @font-face {
//   font-family: OpenSans;
//   src: url(Open_Sans/OpenSans-SemiBold.ttf);
//   font-weight: 600;
// }

@font-face {
  font-family: OpenSans;
  src: url(Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: OpenSans;
  src: url(Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(Open_Sans/OpenSans-Light.ttf);
  font-weight: 300;
}
