.ratio-wrap {
  // box-sizing: border-box;

  // width: 100%;
  // width: 500px;
  // width: 500px;
  // height: 50px;
}

.ratio {
  position: relative;
  width: 100%;
  padding-bottom: 56%; // 56.25% is the percentage of 9 relative to 16, in 16:9
}

.content {
  // box-sizing: border-box;
  position: absolute;

  background-image: url('out-bckd_01-01plain.svg');
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
  background-color: grey;
}
