

#staff {
  margin: 25px 100px 15px 100px;
  // margin: auto 100px;

  display: flex;
  justify-content: center;
}

#staff .member {
  width: 250px;
  text-align: center;
  padding-bottom: 50px;
  margin: auto 5px;
}

#staff .member .avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#staff .member#norris .avatar {
  background-image: url('media/staff/norris.jpg');
  background-position: center;
  background-size: cover;
}

#staff .member#powell .avatar {
  background-image: url('media/staff/powell.jpg');
  background-position: center;
  background-size: cover;
}

#staff .member#ball .avatar {
  background-image: url('media/staff/laura.jpg');
  background-position: center;
  background-size: cover;
}

@media (max-width: 800px) {

  #staff {
    margin: 75px auto 15px auto;
    // margin: 25px 100px 15px 100px;
  }

  #staff .member {
    width: 250px;
    text-align: center;
    padding-bottom: 50px;
    margin: auto 5px;
  }

  #staff .member .avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}
